body {
	background-color: grey; 
	
}

table{
	border-collapse:collapse;
}

.color-white{
	background-color: white;
	color:maroon;
	font-family: "Times New Roman";
}

.header-settings{
	font-family: "Arial Black";
	font-size: 10px;
	height:40px;
	text-align:center;
}

.body-settings{
	background-color: #E0E0E0;
	color:maroon;
	font-size: 5px;
	text-align:left;
	height:20px;
}

.rows-settings{
	background-color: #E0E0E0;
	color:maroon;
	font-size: 5px;
	text-align: left;
	height:10px;
}


.date-settings{
	height:10px;
	font-size: 5px;
	width:75%;
	text-align:left;
}

.button-settings {
	height:5px;
	width:5px;
}