body {
	background-color: grey; 
}

table{
	border-collapse:collapse;
}

.color-white{
	background-color: white;
	color:maroon;
}

.header-settings{
	font-family: "Arial Black";
	font-size: 10px;
	height:40px;
	text-align:center;
}

.body-settings{
	background-color: #E0E0E0;
	color:maroon;
	font-size: 5px;
	text-align:center;
	height:40px;
}

.row2-settings{
	background-color: #E0E0E0;
	color:maroon;
	font-size: 5px;
	text-align:center;
	height:10px;
}


.date-settings{
	height:10%;
	font-size: 10px;
	width:75%;
	text-align:center;
}