body {
	background-color: grey; 
	
}

table{
	border-collapse:collapse;
}

th, td {
	padding-left: 5px; 
}

.color-white{
	background-color: white;
	color:maroon;
	font-family: "Arial Black";
	width:50%;
	height: 10%
}

.header-settings{
	font-size: 30px;
	height:95px;
	text-align:center;
}

.body-settings{
	background-color: #E0E0E0;
	color:maroon;
	font-size: 15px;
	text-align:left;
	height:15px;
}

.rows-settings{
	background-color: #E0E0E0;
	color:maroon;
	font-size: 13px;
	text-align: left;
	height:10px;
}


.date-settings{
	height:25px;
	font-size: 13px;
	width:75%;
	text-align:left;
}

.button-settings {
	height:10px;
	width:10px;
}

.last-row-settings{
	background-color: #E0E0E0;
	color:maroon;
	font-size: 13px;
	text-align: left;
	height:40px;
}

.textbox-settings{
	font-size: 13px;
	width: 100%;
	height: 65px;
}

.submit-settings{
	text-align: center;
	display: block;
    margin: 0 auto;
	font-size: 15px;
}